
body{
  background-image: url("https://img.freepik.com/free-photo/photorealistic-view-tree-nature-with-branches-trunk_23-2151478106.jpg?semt=ais_hybrid&w=740&q=80");
  background-repeat: no-repeat;
  background-size: cover


}
